@{
    ViewBag.Title = "Customers";
}

<script type="text/javascript">
    sessionStorage.setItem("displayComponent", "Customers");
</script>

<br /><br /><br />
<div id='main'></div>
@section Scripts{
<script src="~/Scripts/react/dist/bundle.js"></script>
}
