@{
    ViewBag.Title = "Sales";
}

<script type="text/javascript">
    sessionStorage.setItem("displayComponent", "Sales");
</script>

<br /><br /><br />
<div id='main'></div>
@section Scripts{
    <script src="~/Scripts/react/dist/bundle.js"></script>
}
